@charset "utf-8";
body{background:#fff;margin:0; padding:0; font:14px/1.5 Microsoft YaHei,SimSun, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, img, small, strike, sub, sup, tt, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td ifram{ margin: 0; padding: 0; border: 0;  }
ul , li { list-style:none;}
a{text-decoration:none;color:#70a1db}
img{border:none;}
::-ms-clear, ::-ms-reveal{display: none;}

/*代账公司注册*/
.header{background:#2462be;height:90px;width:100%;position:fixed;top:0px;left:0px;}
.top{width:1100px;margin:0 auto;overflow:hidden;}
.top_logo{margin:22px 0px 0px 0px;float:left;}
.top h3{float:right;margin:33px 0px 0px 0px;height:23px;}
.top p a{color:#a9c9e8;}

/*帮助中心*/
.help_index{width:1100px;margin:110px auto;}
.help_left .h3_help{font-size:18px;height:30px;line-height:30px;padding-bottom:20px;font-weight:normal;border-bottom:1px #ddd solid;}
.help_left { float: left; width: 240px;top: 120px; position: fixed;}
.help_left .help_menu{overflow-y:auto;position:fixed;width:210px;height:auto;}
.help_left ul{padding:10px 20px 0 5px;width:200px;}
.help_left ul li{line-height:35px;width:100%;}
.help_left ul li a{float:left;width:100%;color:#7a7b7f;line-height:35px;height:35px;font-size:14px;background: url(../images/dian.jpg) left 14px no-repeat;padding-left:20px;}
.help_left ul li .ml20{width:100%;padding:13px 0;}
.help_left ul li .ml20 li{width:240px;margin-left:23px;}
.help_left ul li .ml20 li a{border-bottom:none;}
.help_right{float:right;width:799px;padding:30px;border-left:1px #ddd solid;min-height:500px;}
.help_right p{text-indent:2em;font-size:14px;line-height:30px;color:#7a7b7f;}
.help_right p b{color:#515254;font-weight:normal;}
.help_right h1{padding:15px 0;font-size:18px;color:#515254;font-weight:normal;padding-top:100px;margin-top: -90px;}
.help_right h1 a{padding-top:100px; margin-top: -90px;color:#515254}
.help_right h2{padding:15px 0;font-size:16px;color:#515254;font-weight:normal;padding-top:100px;margin-top: -90px;}
.help_right h2 a{padding-top:100px; margin-top: -90px;color:#515254}
.help_right h3{padding:10px 0;font-size:14px;color:#515254;font-weight:normal;}
